# World Happiness Rankings Database Rebuild

In [58]:
# Pandas and Matplotlib
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

# Python SQL toolkit and Object Relational Mapper
from sqlalchemy import create_engine, func, distinct
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

# SQLite 
import sqlite3
from sqlite3 import Error

# General tools
import os
import csv
import itertools
import glob

In [59]:
# Brute force csv read -- just in case
rankings2015 = pd.read_csv(r'c:/Users/Rudy/Desktop/DataViz/happiness-project/Happiness/data/dataRebuild/2015.csv')
rankings2016 = pd.read_csv(r'c:/Users/Rudy/Desktop/DataViz/happiness-project/Happiness/data/dataRebuild/2016.csv')
rankings2017 = pd.read_csv(r'c:/Users/Rudy/Desktop/DataViz/happiness-project/Happiness/data/dataRebuild/2017.csv')
rankings2018 = pd.read_csv(r'c:/Users/Rudy/Desktop/DataViz/happiness-project/Happiness/data/dataRebuild/2018.csv')
rankings2019 = pd.read_csv(r'c:/Users/Rudy/Desktop/DataViz/happiness-project/Happiness/data/dataRebuild/2019.csv')

In [60]:
# New dataset path
path = r'c:/Users/Rudy/Desktop/DataViz/happiness-project/Happiness/data/dataRebuild'

In [61]:
# Function to assign csv files to a single array
def getCSVFiles():
    # Calls ALL csv files from the data path
    csvFiles = glob.glob(os.path.join(path, '*.csv'))

    # Empty array to assign the csv files
    dataframes = []

    # Assigns dataframes to empty array
    for csv in csvFiles:
        df = pd.read_csv(csv)
        dataframes.append(df)
    
    print(dataframes)

In [39]:
# Function to create csv names
def createCSVNames():
    # Empty array to hold the new file names
    csvNames = []
    
    # Years of Rankings data
    years = ['2015', '2016', '2017', '2018', '2019']
    
    # Loop through desired years to create new names for each csv data file
    for year in years:
        csvName = 'rankings' + year
        csvNames.append(csvName)
        
    print(csvNames)

In [44]:
# Verify function and array created within function
createCSVNames()
print('New data names:', csvNames)

['rankings2015', 'rankings2016', 'rankings2017', 'rankings2018', 'rankings2019']
New data names: ['rankings2015', 'rankings2016', 'rankings2017', 'rankings2018', 'rankings2019']

In [56]:
# Function to assign new csv names to each dataframe
def assignDataframes():
    # Empty array to hold newly labeled dataframes
    rankingsDF = []
    
    # Loops through dataframes and assigns the new csv names
    for df in dataframes:
        for csv in csvNames:
            csv = df
            df_new.append(csv)
    
    print(rankingsDF)

In [57]:
# Verify calling of labeled index to output desired dataframe
rankings2019

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091